/*heme Name: Zheng Qiang
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-family:Arial;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}


/* =Layout
-------------------------------------------------------------- */
body {
    background-image:url(gray_bg.png);
}
#left_column {
     float:left;
	 display:block;
	 /*position:fixed;*/
	 width:170px;
	 line-height:22px;
	 margin:80px 50px 0 40px;
	 font-size:12px;
	 font-family:Arial;
	 text-align:center;
	 color:#999;
}
#left_column a{
   font-size:14px;
    color:#6f7673;
	text-decoration:none;
}
#left_column a:hover{
      color:#19C49B;
	text-decoration:underline;
}

#left_column dl{
   margin-top:10px;
    text-align:center;
}

#nav{
    margin-top:18px;
}

#logo:hover {
      -webkit-animation: animate-stripes 5s linear infinite;  
 }  

@-webkit-keyframes animate-stripes {    
            0% {-webkit-transform: rotate(0deg);}   
            100% {-webkit-transform: rotate(360deg);}    
 }   

#left_column h1{
    font-size:16px;
}

#catalog {  
}

#right_column{
    float:left;
	width:675px;
	font-family:Arial;
	margin-top:30px;
}

#right_column a:hover{
   text-decoration:underline;
}

.article_column{
    margin:15px 0 30px 0;
}
.article_column a{
   color:#333;
   text-decoration:none;
}
.article_column a:hover{
   color:#19C49B
}
.article_column h2 a{
   display:block;
   border-left:18px solid #c4c4c4;
   padding-left:10px;
   color:#333;
    font-size:18px;
	font-weight:700;
	height:18px;
	margin:9px 0;
	line-height:18px;
}

.article_column h2 a:hover{
   border-left:18px solid #19C49B;
}

.data{
    font-size:12px;
	color:#999;
	line-height:22px;
}
.data a{
	color:#666;
}
.main_article{
  	font-size:14px;
	color:#666;
	line-height:190%;
}
.main_article a{
	color:#FC7F10;
}
.main_article p{
    display:block;
    margin:12px 0;
}
.read_more{
   font-size:12px;
   line-height:22px;
   margin-top:5px;
}

#nav_below{
   margin-top:20px;
   font-size:14px
   color:#666
}
#nav_below a{
   color:#999;
}

#nav_below a:hover{
    color:#19C49B;
}

#footer{
   clear:both;
   width:999spx;
   height:30px;
   text-align:left;
   text-indent:30px;
   font-size:14px;
   color:#999;
   border-top:1px dotted #ccc;
   margin:30px 5px;
   line-height:26px;
}
#footer a{
   color:#666
}

#douban_fm{
   margin:20px 0;
}

#douban_movie{
   margin:20px 0;
}

#douban_movie img{
   margin:5px;
}

.node {
    margin:0 0 50px 0;
    font-size:14px;
	display:block;
	color:#999;
	line-height:22px;
}
.node li{
    padding:5px
	display:block;
}
.title {
    margin:20px 10px
}