<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>{% if page.title %}{{ page.title | append: ' - ' }}{% endif %}{{ site.title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://{{site.domain}}/atom.xml" />
		<link rel="stylesheet" type="text/css" href="http://{{site.domain}}/css/main.css" />
		  <link href="http://{{site.domain}}/css/favicon.ico" rel="icon" type="image/x-icon"/>
	</head>

	<body>
		<div id="header">
			<h1 class="site-name title"><a href="/">{{ site.title }}</a></h1>
			<span>{{ site.desc }}</span>
		</div>

		<table id="content">
			<tr>
				<!--
				<td id="sidebar-left">
					<div class="block">
					</div>
				</td> -->
				<td id="main">
					{{ content }}

				</td>
				<td id="sidebar-right">
					<div class="block">
						<h2 class="title">Pages</h2>
						<div class="content">
							<li><a href="/about.html" title="关于">About</a></li>
							<li><a href="/archives/" title="归档">Archives</a></li>
						</div>
					</div>

					<div class="block">
						<h2 class="title">Recent</h2>
						<div class="content">
							<div class="item-list">
								<ul>
									{% for post in site.posts limit: 5 %}
									<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
									{% endfor %}
									
								</ul>
							</div>
						</div>
					</div>

					<div class="block">
						<h2 class="title">Categories</h2>
						<div class="content">
							<div class="item-list">
								<ul>
									{% for cat in site.categories %}
									<li><a href="/categories/{{ cat | first | replace:' ','-' | downcase }}/">{{ cat | first }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					<div class="block">
						<h2 class="title">Tags</h2>
						<div class="content">
							<div class="item-list tag-cloud">
								<ul>
									{% for tag in site.tags %}
									<li><a href="/tags/{{ tag | first | replace:' ','-' |replace:'#','%23' |downcase }}/" name="{{ tag | first | replace:' ','-' | downcase }}">{{ tag | first }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					<div class="block">
						<h2 class="title">Subscribe</h2>
						<div class="content">
							<a href="http://{{site.domain}}/atom.xml" title="Feed" rel="alternate" type="application/rss+xml" class="rss-feed">RSS Feed</a>
						</div>
					</div>

					<div class="block">
						<h2 class="title">Contact</h2>
						<div class="content">
                                                    <img src="http://img.yalog.info/uploads/20120505/gmail.gif" />						</div>
					</div>

					<div class="block">
						<h2 class="title">Friends</h2>
						<div class="content">
							<a href="http://www.0xcode.com/">Larrx</a><br />
							<a href="http://imjacob.me/">jacob蜀黍</a><br />
							<a href="http://home.nhqn.com/blog/">南湖青年工作室</a><br />
						</div>
					</div>

				</td>
			</tr>
		</table>
					
					<div id="footer">
						<hr style="border-width: 0pt 0pt 1px;" />
						
						&copy yalog {{ site.time | date: "%Y" }}

						本站内容未做特别说明者均使用<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创作共用协议</a> 
						
						Hosted by <a href="http://github.com">GitHub</a> and powered by <a href="http://github.com/mojombo/jekyll">Jekyll</a> 
						<script src="http://s19.cnzz.com/stat.php?id=3194438&web_id=3194438&show=pic1" language="JavaScript"></script>
					</div>

		<script type="text/javascript">
			var disqus_shortname = 'yalogme';
			(function () {
				var s = document.createElement('script'); s.async = true;
				s.type = 'text/javascript';
				s.src = 'http://'+ disqus_shortname +'.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			 }());
		</script>

		<!-- share this -->
		<!--<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'6cccc2ec-a6b0-46b3-987d-9bc0306f1f52',onhover:false});</script>-->


	</body>
</html>
