<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
      <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
       <title>{% if page.title %}{{ page.title | append: ' - ' }}{% endif %}{{ site.title }}</title>
	   <meta content="{{ page.title }}" name="description" />
	   <meta content="bronn,bronnzheng,Jacob,jacob" name="keywords" />
	   <meta content="bronn" content="author"/>
	   <link rel="shortcut icon" type="image/ico" href="http://jtskyin.github.io/favicon.ico">
	   <link href="http://{{site.domain}}/css/main.css" rel="stylesheet" type="text/css" media="screen"/>
    </head>
    <body>
             <!-- sider -->
	     {% include sider.html %}

		<!--Main Article-->
		<div id="right_column">
			{{ content }}
		</div>
		<p style="clear:both"></p>

	      {% include footer.html %}
    </body>
</html>
