---
layout: default
---

 <div class="article_column">
			       <h2><a href="#">{{ page.title }}</a></h2>

	<p class="data">{{ page.date | date: '%Y年%m月%d日%H点%I分' }} | 分类:
	{% for category in page.categories %}
	<a href="/categories/{{ category | replace:' ','-' | downcase }}/">{{ category }}</a>{% unless forloop.last %},{% endunless %}
	{% endfor %}|
	评论{% unless page == post %}
		  <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}">Comments</a> 
		{% endunless %}
	</p>
	<div class="main_article">{{ content }}</div>
	{% assign post = page %}
</div>
<p style="clear:both"></p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'jacobz'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
